[submodule "External/JNWCollectionView"]
	path = External/JNWCollectionView
	url = https://github.com/jwilling/JNWCollectionView.git
    ignore = dirty
[submodule "External/MoonShine"]
	path = External/MoonShine
	url = https://github.com/DotMail/MoonShine.git
[submodule "External/Specta"]
	path = External/Specta
	url = https://github.com/petejkim/specta.git
[submodule "External/Expecta"]
	path = External/Expecta
	url = https://github.com/petejkim/expecta.git
[submodule "Configuration"]
	path = Configuration
	url = https://github.com/jspahrsummers/xcconfigs.git
[submodule "External/TwUI"]
	path = External/TwUI
	url = https://github.com/CodaFi/twui.git
    ignore = dirty
[submodule "External/Puissant"]
	path = External/Puissant
	url = https://github.com/DotMail/Puissant.git
