<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PSTUnifiedInboxEnabled</key>
	<true/>
	<key>PSTSidebarEnabled</key>
	<true/>
	<key>PSTMessagePreviewEnabled</key>
	<true/>
	<key>moveToApplicationsFolderAlertSuppress</key>
	<false/>
	<key>WebContinuousSpellCheckingEnabled</key>
	<true/>
	<key>DMAccounts</key>
	<array/>
	<key>PSTDisplayStatusItem</key>
	<true/>
	<key>PSTSidebarWidth</key>
	<integer>164</integer>
	<key>PSTFullscreenSidebarWidth</key>
	<integer>164</integer>
	<key>PSTMessageViewWidth</key>
	<integer>286</integer>
	<key>PSTFullscreenMessageViewWidth</key>
	<integer>286</integer>
	<key>PSTLaunchAtLoginEnabled</key>
	<false/>
	<key>LEPLogEnabledFilenames</key>
	<array>
		<string>DMDatabase.m</string>
		<string>PSTConversation.m</string>
		<string>LEPIMAPFetchAttachmentRequest</string>
	</array>
</dict>
</plist>
