<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>d7dcdf</string>
	<string>5493a0</string>
	<string>b6648a</string>
	<string>81b7e3</string>
	<string>d0e0e3</string>
	<string>cfe2f3</string>
	<string>d9d2e9</string>
	<string>ead1dc</string>
	<string>ea9999</string>
	<string>f9cb9c</string>
	<string>ffe599</string>
	<string>b6d7a8</string>
	<string>a2c4c9</string>
	<string>9fc5e8</string>
	<string>b4a7d6</string>
	<string>d5a6bd</string>
	<string>e06666</string>
	<string>f6b26b</string>
	<string>ffd966</string>
	<string>93c47d</string>
	<string>76a5af</string>
	<string>6fa8dc</string>
	<string>8e7cc3</string>
	<string>c27ba0</string>
	<string>cc0000</string>
	<string>e69138</string>
	<string>f1c232</string>
	<string>6aa84f</string>
	<string>45818e</string>
	<string>3d85c6</string>
	<string>674ea7</string>
	<string>a64d79</string>
	<string>990000</string>
	<string>b45f06</string>
	<string>bf9000</string>
	<string>38761d</string>
	<string>134f5c</string>
	<string>0b5394</string>
	<string>351c75</string>
	<string>741b47</string>
	<string>660000</string>
	<string>b45f06</string>
	<string>7f6000</string>
	<string>274e13</string>
	<string>0c343d</string>
	<string>073763</string>
	<string>20124d</string>
	<string>4c1130</string>
</array>
</plist>
