<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
            <script type="text/ecmascript" src="{{COMPOSER_JS_URL}}"></script>
			<link href="{{COMPOSER_CSS_URL}}" rel="stylesheet" type="text/css">
        </meta>
    </head>
    <body onload="loadComposer()">
        <div id="main-body" contenteditable="true">
            <div>
                <div>
                    <br>
                </div>
            </div>
        </div>
    </body>
</html>
